
<section class="home-content">
  <h2>{{ homeCtrl.title }}</h2>
  <create-gallery>
  </create-gallery><br>
  <thumbnail-container ng-if="homeCtrl.currentGallery"  gallery="homeCtrl.currentGallery"></thumbnail-container><br>
  <label for="gallery-selection">select the gallery you would<br>like to add pictures to: </label>
  <select
  name="gallery-selection"
  ng-options="item as item.name for item in homeCtrl.galleries track by item._id"
  ng-model="homeCtrl.currentGallery"></select><hr>
  <ul class="gallery-item">
    <div>
      <uib-accordian>
        <gallery-item uib-accordian-group class="panel-default" ng-repeat="item in homeCtrl.galleries"
        currentGallery="homeCtrl.currentGallery"
        galleries="homeCtrl.galleries" gallery="item"></gallery-item>
      <uib-accordian>
    </div>
  </ul>
</section>
